<nav>
    <div class="max__width">
        <div class="nav__container">
            <div class="logo__container">
                <img src="../../../assets/images/Logo.png" alt="logo">
            </div>
            <ul class="menu">
                <li>Auctions</li>
                <li>Roadmap</li>
                <li>Discover</li>
                <li>Community</li>
            </ul>
            <div class="action__btns">
                <app-secondary-btn buttonText="Contact" />
                <app-primary-btn buttonText="My Account" />
            </div>
        </div>
    </div>
</nav>