<section class="showcase">
    <div class="max__width">
        <div class="showcase__container">
            <div class="showcase__text">
                <div class="subtitle">Non Fungible Tokens</div>
                <div class="title">
                    A new NFT <img src="../../../../assets/images/title_frame1.png" alt="title frame 1">
                    <br>
                    <img src="../../../../assets/images/title_frame2.png" alt="title frame 2"> Experience
                </div>
                <div class="subtitle">Discover, collect and sell</div>
            </div>
            <div class="search__bar">
                <input type="text" placeholder="Items, collections and creators">
                <select>
                    <option value="-1">Category</option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <div class="img__container">
                    <img src="../../../../assets/icons/Search_icon.svg" alt="search icon">
                </div>
            </div>
        </div>
    </div>
</section>